name: feature-nodejs-pipeline
on:
  workflow_call: #will be called by someone.should get inputs from caller.
    inputs:
      project:
        required: true
        type: string
      component:
        required: true
        type: string
      environment:
        required: true
        type: string
env:
  ACC_ID: 485658242739       
jobs:
  feature-nodejs-pipeline:
    runs-on: self-hosted
    steps:
      - name: checkout code
        uses: actions/checkout@v6
      - name: list files
        run: ls -l

     
      - name: get the version
        run: |
          # if you store it in GITHUB_ENV, you can use in another steps.::9 takes 1st 9 chars.

          echo "APP_VERSION=${GITHUB_SHA::9}" >> "$GITHUB_ENV" 

      - name: print inputs
        run:  | 
         echo ${{ inputs.project }}
         echo "version: ${APP_VERSION}"

      - name: install dependencies
        run: npm install

      - name: run unit tests
        run: echo "run unit tests"

      - name: docker build
        run: |
          docker build -t ${ACC_ID}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${APP_VERSION} .
          docker images
     
     # to push the code we have to authenticate to aws.
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # but  reusable workflows can no access these secrets. we need to pass them 

      - name: push image
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin ${ACC_ID}.dkr.ecr.us-east-1.amazonaws.com
          docker push ${ACC_ID}.dkr.ecr.us-east-1.amazonaws.com/${{ inputs.project }}/${{ inputs.component }}:${APP_VERSION}

